.tableBase {
    border-radius: 10px;
    /*background: #42b6ca;*/
    background-image: url('/src/assets/freeTable.JPG');
    color: #b43c48;
    text-align: center;
    font-size: 70pt;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border: 1px solid black;
}

    .tableBase.rectangle {
        width: 150px;
        height: 200px;
    }

    .tableBase.square {
        width: 150px;
        height: 150px;
    }