<div class="container hide-on-small-and-down" ng-init="getReadyCustoms()">
  <table style="width: 100%;"> 
    <tr>
      <td class="bt bl" >
        <app-table number=4 ></app-table>
      </td>
      <td class="bt">
        <app-table number=3></app-table>
      </td>
      <td class="bt">
        <app-table number=2></app-table>
      </td>
      <td class="bt br">
        <app-table number=1></app-table>
      </td>
    </tr>7  
    <tr>
      <td class="bl bb">
        <app-table number=5></app-table>
      </td>
      <td class="bl">
        <app-table number=6></app-table>
      </td>
      <td></td>
      <td class="br"></td>
    </tr>
  </table>
</div>